.footer {
  text-align: center;
  padding: 3px;
  // background: linear-gradient(315deg, #772f1a 0%, #f2a65a 74%);
  // background-color: #e9bcb7;
  background: linear-gradient(315deg, #e9bcb7 0%, #29524a 74%);
  color: white;
  display: block;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}
