:root {
  font: 16px / 1 sans-serif;
  /* SDG Colors */
  --bright-sky: #80ced2;
  --night-sky: #85577e;
  --sun: #d5562b;
  --sea: #5a9090;
  --sand: #f7f0da;
  --asphalt: #2f3737;
  --lime: #b1d133;
  --tangerine: #f99d1b;
  /* Favicon Colors */
  --big-d: #00b7ff;
  --cessna: #5e5e5e;
  --orange-sun: #f15a24;
  --yellow-sun: #fcee21;
  --cyan-ocean: #00bfe9;
  --blue-ocean: #00217f;
  /* Custom Webpage Colors */
  --pale-green: #e1eedd;
  --mando-blue: #1857a4;
  --slate: #c8d8e4;
  /* Auto Colors */
  --beau-blue: #c8d8e4ff;
  --honeydew: #e1eeddff;
  --lapis-lazuli: #336699ff;
  --charcoal: #2f4858ff;
  --international-orange-aerospace: #fe5d26ff;
  --amazon: #4a7c59ff;
  --copper: #a8763eff;
  --bdazzled-blue: #1857a4ff;
  --byzantium: #7a3b69ff;
  /* Custom Text Colors */
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
  // Resume Colors
  --resume-bg: #23232e;
  --resume-text: #ececec;
  --resume-link: #00b7ff;
  --resume-link-hover: #1857a4;
  --resume-link-active: #1857a4;
  --resume-link-visited: #1857a4;
  --resume-link-focus: #1857a4;
  --resume-link-active-hover: #1857a4;
  --resume-link-active-visited: #1857a4;
  --resume-link-active-focus: #1857a4;
  --resume-link-visited-hover: #1857a4;
  --resume-link-visited-visited: #1857a4;
  --resume-link-visited-focus: #1857a4;
  --resume-link-focus-hover: #1857a4;
  --resume-link-focus-visited: #1857a4;
  --resume-link-focus-focus: #1857a4;
  --resume-link-active-hover-hover: #1857a4;
  --resume-link-active-hover-visited: #1857a4;
  --resume-link-active-hover-focus: #1857a4;
  --resume-link-active-visited-hover: #1857a4;
  --resume-link-active-visited-visited: #1857a4;
  --resume-link-active-visited-focus: #1857a4;
  --resume-link-active-focus-hover: #1857a4;
  --resume-link-active-focus-visited: #1857a4;
  --resume-link-active-focus-focus: #1857a4;
  --resume-link-visited-hover-hover: #1857a4;
  --resume-link-visited-hover-visited: #1857a4;
  --resume-link-visited-hover-focus: #1857a4;
  --resume-link-visited-visited-hover: #1857a4;
  // Custom Colors
  --custom-bg: #23232e;
  --custom-text: #ececec;
  // Custom Resume Colors
  --custom-resume-bg: #5e5e5e3f;
}

html {
  height: 100%;
}

body {
  margin: 0;
  /* min-height: 100%; */
  background-color: var(--custom-resume-bg);
}

a {
  color: black;
}
